<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="css/layout.css">
  </head>
  <body>
    <table width="50%" align="center" bordercolor="#000" border="1" cellspacing="0px">      
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>     
      <tr height="150px">
        <td colspan="4">
          <h1 class="title">City Gallery</h1>
        </td>
      </tr>
      <tr height="150px">
        <td colspan="1">
          <div>
            <ul>
              <li><a href="">London</a></li>
              <li><a href="">Paris</a></li>
              <li><a href="">Tokyo</a></li>
            </ul>
          </div>
        </td>
        <td colspan="3">
          <blockquote>
            <h3>London</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id officiis, iusto, magni ipsam voluptates numquam dignissimos eius alias voluptatibus. Esse quas dolor, odit quisquam recusandae sapiente ipsum labore excepturi doloribus.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id officiis, iusto, magni ipsam voluptates numquam dignissimos eius alias voluptatibus. Esse quas dolor, odit quisquam recusandae sapiente ipsum labore excepturi doloribus.
            </p>
          </blockquote>
        </td>
      </tr>
      <tr height="50px">        
        <td colspan="4">
          <p style="text-align:center">Coppyright C W3school.com</p>
        </td>
      </tr>
      
    </table>
  </body>
</html>