body{
	background: url('../images/fond_jaune.png') no-repeat;
	background-size: cover;
}
.container{
	width: 800px;
	margin: 0 auto;
}
@font-face{
	font-family: ballpark;
	src: url(../fonts/ballpark.woff) format("truetype");
}
@font-face{
	font-family: dayrom;
	src: url(../fonts/dayrom.ttf) format("truetype");
}
/*-----------header-------------*/
header{
	width: 100%;
	display: inline-block;
	border-bottom: 2px solid rgba(154, 120, 122, 0.6)
}
.logo{
	width: 20%;
	float: left;
}
.logo p{
	font-family: dayrom;
	margin-top: -2em;
}
img{
	vertical-align: middle;
}
img.icon_ep{
	width: 50px;
}
span h3{
	font-family: ballpark;
	font-size: 2.5em;
	font-weight: normal;
	margin-top: -0.75em;
	padding-left: 1.5em;	
}
header nav{
	/*width: 70%;*/
	padding-top: 3em;
	float: right;
}
nav>ul>li{
	padding: 1em;
	float: left;
	list-style-type: none;
}
nav>ul>li>a{
	font-family: dayrom;
	font-size: 1.25em;
	text-transform: uppercase;
  	text-decoration: none;
  	color: #000;
}
button img.arrow-right{
	width: 10%;
}
/*------------section-------------*/
section img{
	width: 100%;
}
section .flash{
	background-color: rgba(0, 0, 0, 0.57);
    position: absolute;
    color: #fff;
    width: 800px;
    margin-top: -3.2em;
}
section .flash p{
	width: 60%;
	float: left;
	padding-left: 1em;
}
section .flash button{
	width: 13%;
	float: right;
	margin-right: 2em;
	margin-top: 0.75em;
	padding: 0.75em;
	border: 1px;
	border-radius: 7px;
	color: #fff;
	background: rgba(222, 11, 11, 0.87);
}
/*--------------div-------------- */
section.second-section{
	border-bottom: 2px ridge rgba(194, 170, 158, 0.86);
	display: inline-block;
	padding-bottom: 1em;
}
section article{
	width: 65%;
	float: left;
	text-align: justify;
}
section aside{
	font-family: dayrom;
	width: 30%;
	float: right;
	background: #706b64;
	margin-top: 1em;
	color: #fff;
	border-left-width: 20px;
	border-radius: 10px;
}
article h3, aside h3{
	text-transform: uppercase;	
	font-weight: normal;
	padding-left: 0.5em;
}
article img.icon_ep{
	padding-right: 0.5em;
	padding-top: 0.25em;
}
aside img.classes_icon{
	width: 60%;
	display: block;
	border: 1px solid #000;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5em;
}
.arrow_left{
	width: 5%;
	margin-top:5em;
	margin-left: -0.75em;
}
aside p{
	padding: 0 1em 0 1em;
	font-size: 1em;
}
aside p img{
	width: 18%;
}
/*----------footer------------*/
footer{
	width: 100%;
	display: inline-block;
	margin-top: 1em;
}
footer .tweet{
	width: 25%;
	float: left;
}
footer .pictures{
	width: 40%;
	float: left;
}
footer .friends{
	width: 30%;
	float: right;
}
footer h3{
	text-transform: uppercase;
	font-weight: normal;
	font-family: dayrom;
}
footer p img{
	border: 1px solid rgb(152, 20, 11);
}
ul.list-friends {
	display: inline-block;
    vertical-align: top;
    margin-top: 0;
    width: 48%;
    list-style-image: url('../images/ico_liensexterne.png');
    padding-left: 2px;
}
ul.list-friends li a{
	text-decoration: none;
	color: rgb(152, 20, 11);
}
