form{
  width: 20%;
  border: 1px solid #dadada;
  border-bottom: 5px solid #00BCD4;
  padding: 1em;
}
h3{
  background: #00BCD4;
  padding: 1em;
  margin: 0em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.group{
  width: 100%;
    display:block;
    margin-bottom: 10px;
}
.group label {
    width: 30%;
    float: left;
}
.group label:before{
  white-space: pre;
}
.group input[type="text"],.group input[type="email"],.group input[type="password"], .group input[list="type"] {
    width: 70%;
    float: rigth;
    outline: none;
    padding: 5px;
}
h4{
  border-bottom: 2px solid #00BCD4;
}
select{
  border-radius: 0px;
  padding: 0.5em;
  outline: none;
  border: 1px solid transparent;
}
datalist{
  border-radius: 0px;
  outline: none;
}
.group input[list="type"] {
  background: #00bcd4;
  border: 1px solid #00bcd4;
}
::-webkit-input-placeholder { 
    color: #00bcd4;
    padding-left: 1em;
}